.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  color: var(--text-color);
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-color);
  cursor: pointer;
}

.navBar a {
  font-size: 1.5rem;
  margin: 2rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.navBar a:hover,
.navBar a:active {
  color: var(--main-color);
  background: var(--radial-color);
  width: fit-content;
  height: 100%;
}
